.collection-card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  max-height: 100vh;
  margin-left: 5.5rem;
  margin-bottom: 3rem;
}

.collection-card__text {
  text-align: center;
  font-size: 2.5rem;
}

.collection-card {
  margin: 0px 5% 30px 0px;
  border: 0.5px solid rgb(190, 187, 187);
  border-radius: 10px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  max-width: 23vw;
  padding: 0.8rem;
}

.collection-card img {
  width: 200px;
  height: 200px;
}

.collection-card ul {
  margin: 0;
  padding: 0;
}

.collection-card li {
  font-size: 1rem;
  list-style: none;
  font-weight: bold;
  /* width: 100%; */
  margin-bottom: 0.5rem;
}

.collection-btn {
  width: 100%;
  color: white;
  background-color: black;
  /* padding: 0.8rem 1rem; */
  padding: 0.5rem;
  border-radius: 4px solid black;
  margin-bottom: 20px;
}
