.featured-collection__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 100px 10px;
  margin-bottom: 60px;
}

.featured-collection__text {
  margin-left: 8rem;
  font-size: 2.5rem;
}

.featured-collection__container > div img {
  width: 300px;
}

.featured-collection__container > div li {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  list-style: none;
  margin-bottom: 0.5rem;
}

.featured-btn {
  width: 100%;
  color: white;
  background-color: black;
  padding: 0.5rem;
  border-radius: 4px solid black;
  margin-bottom: 20px;
}

main {
  border: 1px solid black;
}
